h2 Contacto

ul.socialLinks
  li.mail
    a(href="mailto:contacto@pablomolina.me")
      i.fa.fa-custom-mail
      span= "@pablomolina.me"
  li.googleplus
    a(href="http://googleplus.pablomolina.me")
      i.fa.fa-custom-googleplus
      span= "+PabloMolina"
  li.github
    a(href="http://github.pablomolina.me")
      i.fa.fa-custom-github
      span= "@p2kmgcl"
  li.twitter
    a(href="http://twitter.pablomolina.me")
      i.fa.fa-custom-twitter
      span= "@p2kmgcl"
  li.facebook
    a(href="http://facebook.pablomolina.me")
      i.fa.fa-custom-facebook
      span= "/p2kmgcl"
  li.linkedin
    a(href="http://linkedin.pablomolina.me")
      i.fa.fa-custom-linkedin
      span= "Pablo Molina"

// Formulario de contacto de Google
<form class="googleForm" action="https://docs.google.com/forms/d/1lYAjJIlbRr-UwbweKYfBIzyaXoBFoFPL8q3FbCI8SRg/formResponse" method="POST" id="ss-form" target="_self" onsubmit=""><div role="list">
<div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1276157092"><div class="ss-q-title">Nombre
<label for="itemView.getDomIdToLabel()" aria-label="(Campo obligatorio)"></label>
<span class="ss-required-asterisk">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<input type="text" name="entry.1276157092" value="" class="ss-q-short" id="entry_1276157092" dir="auto" aria-label="Nombre  " aria-required="true" required="" title="">
<div class="error-message"></div>
<div class="required-message">Esta pregunta es obligatoria.</div>

</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1821013739"><div class="ss-q-title">Correo electrónico
<label for="itemView.getDomIdToLabel()" aria-label="(Campo obligatorio)"></label>
<span class="ss-required-asterisk">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<input type="email" name="entry.1821013739" value="" class="ss-q-short" id="entry_1821013739" dir="auto" aria-label="Correo electrónico  Debe ser una dirección de correo electrónico válida" aria-required="true" required="" title="Debe ser una dirección de correo electrónico válida">
<div class="error-message">Debe ser una dirección de correo electrónico válida</div>
<div class="required-message">Esta pregunta es obligatoria.</div>

</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item ss-item-required ss-paragraph-text"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1647617539"><div class="ss-q-title">Mensaje
<label for="itemView.getDomIdToLabel()" aria-label="(Campo obligatorio)"></label>
<span class="ss-required-asterisk">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<textarea name="entry.1647617539" rows="8" cols="0" class="ss-q-long" id="entry_1647617539" dir="auto" aria-label="Mensaje  " aria-required="true" required=""></textarea>
<div class="error-message"></div>
<div class="required-message">Esta pregunta es obligatoria.</div>

</div></div></div>
<input type="hidden" name="draftResponse" value="[,,&quot;-7922253291143784972&quot;]
">
<input type="hidden" name="pageHistory" value="0">
<input type="hidden" name="fromEmail" value="false">

<input type="hidden" name="fbzx" value="-7922253291143784972">

<div class="ss-item ss-navigate"><table id="navigation-table"><tbody><tr><td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
<input type="submit" name="submit" class="ss-submit" value="Enviar" id="ss-submit">
<div class="ss-password-warning ss-secondary-text">Nunca envíes contraseñas a través de Formularios de Google.</div></td>
</tr></tbody></table></div></div></form>
