doctype xml
rss(version="2.0")
	channel
		title Web personal de Pablo Molina
		link http://pablomolina.me
		description Piensa, inventa, comparte
		language es
		
		for article, slug in public.articles._data
			if article.published
				item
					title #{article.title}
					description #{article.description}
					link http://pablomolina.me/articles/#{ slug }.html
					guid(isPermalink="true") http://pablomolina.me/articles/#{ slug }.html
					pubDate= new Date(article.date).toUTCString()
