h1.title
	a(href='/index.html') Pablo Molina

nav.menu
	h2
		i.fa.fa-align-justify
		span Menú principal
	ul
		for page, slug in public._data
			if page.title
				li(class=page.slug +
					((slug == current.path[0]) ? ' current' : ''))
					a(href='/#{ slug }.html'
						title=page.title
						class=page.slug +
						((slug == current.path[0]) ? ' current' : ''))
						i(class="fa fa-custom-" + slug)
						span= page.title
		
		li(class='articles' +
			((current.path[0] == 'articles') ? ' current' : ''))
			a(href='/articles'
				title="Artículos"
				class='articles' +
				((current.path[0] == 'articles') ? ' current' : ''))
				i.fa.fa-custom-articles
				span Artículos

		li(class='projects' +
			((current.path[0] == 'projects') ? ' current' : ''))
			a(href='/projects'
				title="Proyectos"
				class='projects' +
				((current.path[0] == 'projects') ? ' current' : ''))
				i.fa.fa-custom-projects
				span Proyectos
